<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hd.rizolve">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Globals"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Rizolve"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:label="Rizolve"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Complaint System"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ComplaintsActivity"
            android:label="Complaint Details"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hd.rizolve.MainActivity" />
        </activity>
        <activity
            android:name=".resolveActivity"
            android:label="Resolve a Complaint"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".add_complaint"
            android:label="New Complaint"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
